.fancyheader {
    color: #663399;
    text-decoration-line: underline;
}

h2 {
    color: #2f4f4f;
    text-decoration-line: underline;
}

.sampleimages {
    max-width: 30%;
}

.center {
    margin:auto;
    width: 50%;
}

.cut-top-margin {
    margin-top: 0px;
}

.cut-bottom-margin {
    margin-bottom: 0px;
}

.margin-bottom-five {
    margin-bottom: 5px;
}

.margin-remove-bottom-top {
    margin-bottom: 0px;
    margin-top: 0px;
}

.margin-top-five {
    margin-top: 5px;
}

body {
    background-image: url("https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Oswald", sans-serif;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

table, th, td {
    border: 1px solid;
    color: #108125;
}

a:link {
    color: #b22222;
}

a:visited {
    color:blue;
}

a:hover {
    color: #556b2f;
}

a:active {
    color: #9acd32;
}