#locationName {
    width: 50%
}

.weather-logo{
    width: 10rem;
    height:10rem;
}

.cardTypeThing {
    height: 20%
}

.weather-pic {
    height: 13rem;
    width: 15rem;
}

.locationInput {
    width: 80%;
}
